p.subtitle {
    font-style: italic
}
.strike-through {
    text-decoration: line-through
}

.reveal section img { 
	background:none; 
	border:none; 
	box-shadow:none; 
}

div.texto {
	width: 65%;
	float: left;
	text-align: left;
}

div.poster {
	width: 30%;
	float: right;
}

span#peli {
	font-style: italic;
}

footer#cita {
	font-style: italic;
}